body {
  background-image: url("https://th.bing.com/th/id/OIP.ToSA_yTQPZf-xUNU0UQxbgHaE7?w=289&h=192&c=7&r=0&o=5&dpr=2&pid=1.7");
  <background-repeat: none;
  <background-attachment: fixed;
  <background-size: cover;
}

body {
    font-size: 60px;
    font-family: 'Diplomata SC', cursive;
    style="word-spacing: 80px;"
    text-align: center;
    color: yellow;
    text-align: center;

}

h1 {
  font-family: 'Anton', sans-serif;
  color:#ffffff;
  font-size: 80pt;
  text-align: center;
}
